:root {
--backround-color: #012D63;
  --main-backround-color: #021635;
  --main-nav-color: #C7C7C7;
  --main-text-color: #FFFFFF;
  --my-button-color: #8E32C6;
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "PT Serif", sans-serif;
}
html{
scroll-behavior: smooth;
}
body{
font-family: var(--font-family);
color: var(--main-text-color);
background-color: var(--main-backround-color);
}
.container{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */
    outline: 1px solid red;
  }
.header{
padding-top: 16px;
padding-bottom: 16px;
}
.hero{
padding-top: 88px;
padding-bottom: 183px;
}
.benefits{
padding-top: 105px;
padding-bottom: 105px;
}
.reviews{
padding-top: 25px;
padding-bottom: 112px;
}
.order{
padding-top: 21px;
padding-bottom: 38px;
}
.footer{
padding-top: 45px;
padding-bottom: 50px;
}
