:root {
--backround-color: #012D63;
  --main-backround-color: #021635;
  --main-nav-color: #C7C7C7;
  --main-text-color: #FFFFFF;
  --my-button-color: #8E32C6;
  --font-family: "Roboto", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "PT Serif", sans-serif;
}
html{
scroll-behavior: smooth;
}
body{
font-family: var(--font-family);
color: var(--main-text-color);
background-color: var(--main-backround-color);
}
.header{
padding-top: 30px;
padding-bottom: 30px;
}
.container{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */
  }

